body {
    margin: 0;
    font-size: 0;
}

div {
    background-color: grey;
    text-align: center;
}

.top {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.circle {
    border-radius: 50%;
    max-width: 25%;
    margin: 2%;
    text-align: center;
    border: 20px solid rgb(81, 75, 75);
    align-self: center;
}