a:hover {
    background-color: white;
    color: steelblue;
}

img {
    width: 80%;
    padding: 10%;
}

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}